<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="">URL Slug</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Slug"
                        v-model="slug"
                    />
                </div>
                <div class="form-group">
                    <label for="">Url Redirect to</label>
                    <input
                        type="texty"
                        class="form-control"
                        placeholder="Url redirect to"
                        v-model="url"
                    />
                </div>
                <div class="fortm-group">
                    <button
                        class="btn btn-small btn-primary float-right"
                        @click="save()"
                    >
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            url: "",
            slug: "",
        };
    },
    methods: {
        save() {
            console.log("Trying to save Axios:", axios);
            axios
                .post("/api/add", { url: this.url, slug: this.slug })
                .then((data) => {
                    console.log("Veikia", data);
                });
        },
    },
};
</script>
