<template>
    <div class="error-page">
        <h1>{{ title }}</h1>
        <p>The page you're looking for is in another framework</p>
    </div>
</template>

<script>
export default {
    data: function() {
        return {};
    },
};
</script>

<style lang="css"></style>
